{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }}{% endblock %}

<style>
    {% block style %}
        .jumbotron{
            background: #0e3d14;
            color: white;
        }
    {%  endblock %}
</style>
{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Try Django 2.0</h1>
                    <p>The MVP Landing project is designed to get your project started. The goal is to help you launch as soon as possible with the least amount of investment using time or money. Join Us today.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="" role="button">Join Us &raquo;</a>
                    </p>
                </div>
                <div class="col-sm-6" >
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/sd0grLQ4voU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-3 pull-right">
            <p class="lead">{{ title }}</p>
            <form method="POST" action="">{% csrf_token %}
                {{ form|crispy }}
                {#    {{ form.as_p }}#}

                <input class="btn btn-primary" type="submit" value="Sign Up" />

            </form>
        </div>
        <div class="col-sm-3">
            <p class="lead text-align-center"> Built with Django &amp; Bootstrap</p>
            <img src="{% static 'img/marketing1.jpg' %}" class="img-responsive"/>
        </div>
        <div class="col-sm-3 text-center">
            <p class="lead text-align-center"> Created for starters of all kinds.<br/>
                <span class="fa-stack fa-lg fa-5x">
                    <i class="far fa-comment fa-stack-2x"></i>
                    <i class="fa fa-bolt"></i>
                 </span>
            </p>
        </div>
        <div class="col-sm-3">
            <p class="lead text-align-center"> Always Open Source<br/><br/>
            <span class="fa-stack fa-lg fa-5x">
                <i class="fas fa-circle-notch fa-stack-2x fa-spin"></i>
                <i class="fab fa-github"></i>
            </span>
            </p>
        </div>
    </div>
{% endblock %}
